In [1]:
import psycopg2
from sshtunnel import SSHTunnelForwarder
import pandas as pd

# 1. Check table trades

In [7]:
params={
        'database': 'technical_test',
        'user': 'candidate',
        'password': 'NW337AkNQH76veGc',
        'host': 'technical-test-1.cncti7m4kr9f.ap-south-1.rds.amazonaws.com',
        'port': 5432
}
conn = psycopg2.connect(**params)
cursor = conn.cursor()
trades = pd.read_sql_query('SELECT * FROM trades', conn)
    
conn.close()
print('close connection')
trades.head()

close connection

,login_hash,ticket_hash,server_hash,symbol,digits,cmd,volume,open_time,open_price,close_time,contractsize
0,0DF500A57244E5B1670277767BEBB554,B321DC57F3B410507B986DD8962F8B1C,2F1CA40D76D7E6165DBA3924CE0D3B5C,EURUSD,5,1,5,2020-08-19 12:19:11,1.19459,2020-08-19 12:48:09,100000.0
1,6D66E192834605522190E51BF226FF5B,F68DA930EE1129D94EDFA02EBAF9E7B4,2F1CA40D76D7E6165DBA3924CE0D3B5C,XAUUSD,2,1,1,2020-08-28 03:09:02,1925.48000,2020-08-28 06:03:45,100.0
2,04852EC1A7D9FB8A291A24DDCE8C62B9,E351B480079ADEC7F6E6BE3ACEEA6EDF,2F1CA40D76D7E6165DBA3924CE0D3B5C,EURGBP,5,0,10,2020-08-25 13:47:34,0.90157,2020-09-08 12:20:43,100000.0
3,E62BE617269467931F2239C2771605C2,363723A73A926A7434E815F2F1D5ED61,2F1CA40D76D7E6165DBA3924CE0D3B5C,XAUUSD,2,1,10,2020-08-28 02:46:57,1926.68000,2020-08-28 02:51:13,100.0
4,54D2B4C5ECAE5FBC316524329846F81E,9CD4110328DA4CD71FFE0BE486D51094,2F1CA40D76D7E6165DBA3924CE0D3B5C,XAUUSD,2,1,85,2020-08-11 09:27:28,1999.12000,2020-08-11 09:27:54,100.0

## (1). Check column login_hash

    Findings: 1. All values for column login_hash have same length of 32 and there are no null values exist.
    
    Conclusion: No issues found for column login_hash.

In [10]:
# Check minimum length and maximal length of value for column login_hash
min_length_login_hash = trades['login_hash'].str.len().min()
max_length_login_hash = trades['login_hash'].str.len().max()
print('Minimal length of login_hash is: ' + str(min_length_login_hash))
print('Maximal length of login_hash is: ' + str(max_length_login_hash))

Minimal length of login_hash is: 32
Maximal length of login_hash is: 32

In [16]:
# Check if null value exists on column login_hash
ifNullExistsOnLogin_hash = trades['login_hash'].isnull().any();
print('If null value exists on column login_hash: ' + str(ifNullExistsOnLogin_hash))

If null value exists on column login_hash: False

## (2). Check column ticket_hash

       Findings: 1. All values for column ticket_hash have the same length of 32 and no null values exist.
       
       Conclusion: No issues found for column ticket_hash.

In [17]:
# Check minimum length and maximal length of value for column ticket_hash
min_length_ticket_hash = trades['ticket_hash'].str.len().min()
max_length_ticket_hash = trades['ticket_hash'].str.len().max()
print('Minimal length of ticket_hash is: ' + str(min_length_ticket_hash))
print('Maximal length of ticket_hash is: ' + str(max_length_ticket_hash))

Minimal length of ticket_hash is: 32
Maximal length of ticket_hash is: 32

In [18]:
# Check if null value exists on column ticket_hash
ifNullExistsOnTicket_hash = trades['ticket_hash'].isnull().any();
print('If null value exists on column ticket_hash: ' + str(ifNullExistsOnTicket_hash))

If null value exists on column ticket_hash: False

## (3). Check column server_hash

      Findings: 1. All values for column server_hash have the same length of 32 and no null values exist.
        
      Conclusion: No issues found for column server_hash.

In [19]:
# Check minimum length and maximal length of value for column server_hash
min_length_server_hash = trades['server_hash'].str.len().min()
max_length_server_hash = trades['server_hash'].str.len().max()
print('Minimal length of server_hash is: ' + str(min_length_server_hash))
print('Maximal length of server_hash is: ' + str(max_length_server_hash))

Minimal length of server_hash is: 32
Maximal length of server_hash is: 32

In [20]:
# Check if null value exists on column server_hash
ifNullExistsOnServer_hash = trades['server_hash'].isnull().any();
print('If null value exists on column server_hash: ' + str(ifNullExistsOnServer_hash))

If null value exists on column server_hash: False

## (4). Check column symbol

     Findings: 1. No null values found for column symbol
               2. Value 'USD,CHF' which appears two times looks strange, I presume the value should be 'USDCHF'
               3. Value 'COFFEE' appears in this column, it looks strange but I am not sure if it is a valid   
                  value here as I am lack of business knowledge. But I will list it here.
                    
     Conclusion: Value 'USD,CHF' is not correct and the comma needs to be removed. For value 'COFFEE', it looks 
                 a bit strange but as I am lack of the business knwoledge, so just list it here for further 
                 investigation.

In [21]:
# Check if null values exist on column symbol
ifNullExistsOnSymbol = trades['symbol'].isnull().any();
print('If null value exists on column symbol: ' + str(ifNullExistsOnSymbol))

If null value exists on column symbol: False

In [24]:
# Check strange values for column symbol, check distinct values for column symbol
distinctValues = trades['symbol'].unique()
distinctValues

array(['EURUSD', 'XAUUSD', 'EURGBP', 'USDJPY', 'GBPCAD', 'EURCHF',
       'NZDUSD', 'XTIUSD', 'AUDUSD', 'CADCHF', 'EURCAD', 'AUDNZD',
       'XBRUSD', 'XAGUSD', 'NZDJPY', 'USDCHF', 'GBPUSD', 'AUDJPY',
       'GBPAUD', 'EURJPY', 'US30', 'GBPJPY', 'USDCAD', 'EURAUD', 'GBPNZD',
       'GBPCHF', 'NZDCAD', 'AUDSGD', 'USDSGD', 'CHFJPY', 'AUDCAD',
       'EURNZD', 'USDNOK', 'NZDCHF', 'CHCUSD', 'NAS100', 'USIDX', 'GER30',
       'COFFEE', 'XPTUSD', 'CADJPY', 'BTCUSD', 'HK50', 'EURSGD', 'AUDCHF',
       'EURCNH', 'US500', 'NZDSEK', 'AUDCNH', 'NZDSGD', 'GBPSGD',
       'USDZAR', 'JPN225', 'HSCHKD', 'USDSEK', 'USDCNH', 'AUS200',
       'FRA40', 'VIX', 'USDMXN', 'SGDJPY', 'UK100', 'USDCZK', 'USD,CHF',
       'EURHKD', 'GBPSEK', 'BCHUSD', 'ETHUSD', 'EURNOK', 'USDRUB',
       'USDDKK'], dtype=object)

## (5). Check column digits

       Findings: 1. No null values exit for column digits and max value and min value are reasonable.
       
       Conclusion: No issues found for column digits.

In [25]:
# Check if null values exist on column digits
ifNullExistsOnDigits = trades['digits'].isnull().any();
print('If null value exists on column digits: ' + str(ifNullExistsOnDigits))

If null value exists on column digits: False

In [26]:
# Check minimal and maximal value on column digits
minValueDigits = trades['digits'].min()
maxValueDigits = trades['digits'].max()
print('Minimal value of digits is: ' + str(minValueDigits))
print('Maximal value of digits is: ' + str(maxValueDigits))

Minimal value of digits is: 0
Maximal value of digits is: 5

## (6). Check column cmd

       Findings: 1. No null values exist on column cmd. Distinct values 0 and 1 which are reasonable.
       
       Conclusion: No issues found on column cmd.

In [27]:
# Check if null values exist on column cmd
ifNullExistsOnCmd = trades['cmd'].isnull().any();
print('If null value exists on column cmd: ' + str(ifNullExistsOnCmd))

If null value exists on column cmd: False

In [28]:
# Check strange values for column cmd, check distinct values for column cmd
distinctValues = trades['cmd'].unique()
distinctValues

array([1, 0])

## (7). Check column volume

       Findings: 1. No null values found on column volume.
                 2. Minimum value of column volume is 0 that appears one time. It looks strange to me.
                 
       Conclusion: Value 0 happens one time on column volume which seems strange. Need further investigation
                   with business knowledge.

In [29]:
# Check if null values exist on column volume
ifNullExistsOnVolume = trades['volume'].isnull().any();
print('If null value exists on column volume: ' + str(ifNullExistsOnVolume))

If null value exists on column volume: False

In [30]:
# Check minimal and maximal value on column volume
minValueVolume = trades['volume'].min()
maxValueVolume = trades['volume'].max()
print('Minimal value of volume is: ' + str(minValueVolume))
print('Maximal value of volume is: ' + str(maxValueVolume))

Minimal value of volume is: 0
Maximal value of volume is: 10000

## (8). Check column open_time

       Findings: 1. No null values exist on column open_time.
                 2. Minimal and maximal value are 2020-08-03 and 2020-08-31 which are reasonable.
               
       Conclusion: No issues found on column open_time.

In [31]:
# Check minimal and maximal value on column open_time
minValueOpenTime = trades['open_time'].dt.date.min()
maxValueOpenTime = trades['open_time'].dt.date.max()
print('Minimal value of open_time is: ' + str(minValueOpenTime))
print('Maximal value of open_time is: ' + str(maxValueOpenTime))

Minimal value of open_time is: 2020-08-03
Maximal value of open_time is: 2020-08-31

In [32]:
# Check if null values exist on column open_time
ifNullExistsOnOpenTime = trades['open_time'].isnull().any();
print('If null value exists on column open_time: ' + str(ifNullExistsOnOpenTime))

If null value exists on column open_time: False

## (9). Check column open_price

      Findings: 1. No null values found on column open_price.
                2. No strange values found on column open_price (I presume values less than 1 is reasonable).
            
      Conclusion: No issues found on column open_price.

In [33]:
# Check if null values exist on column open_price
ifNullExistsOnOpenPrice = trades['open_price'].isnull().any();
print('If null value exists on column open_price: ' + str(ifNullExistsOnOpenPrice))

If null value exists on column open_price: False

In [34]:
# Check minimal and maximal value on column open_price
minValueOpenPrice = trades['open_price'].min()
maxValueOpenPrice = trades['open_price'].max()
print('Minimal value of open_price is: ' + str(minValueOpenPrice))
print('Maximal value of open_price is: ' + str(maxValueOpenPrice))

Minimal value of open_price is: 0.59167
Maximal value of open_price is: 28795.0

## (10). Check column close_time

        Findings: 1. No null values exist on column close_time.
                  2. There are 36 trades where close time equals open time. I presume it is a bit strange.
                  3. Maximal close time is 2022-08-18, while maximal open time is 2020-08-31. I found 4780 
                     trades are closed in 2022 which take too long. I presume this might be interesting.
                 
        Conclusion: Found 36 trades of which the close time equals the open time. 4780 trades that are opened in 
                    2020 are closed in 2022. These long-duration trades might need to be investigated.

In [36]:
# Check if null values exist on column close_time
ifNullExistsOnCloseTime = trades['close_time'].isnull().any();
print('If null value exists on column close_time: ' + str(ifNullExistsOnCloseTime))

If null value exists on column close_time: False

In [39]:
# Check if close time equals open time
sub_df = trades[trades['close_time'] == trades['open_time']]
sub_df.shape

(36, 11)

In [40]:
# Check minimal and maximal value on column close_time
minValueCloseTime = trades['close_time'].dt.date.min()
maxValueCloseTime = trades['close_time'].dt.date.max()
print('Minimal value of close_time is: ' + str(minValueCloseTime))
print('Maximal value of close_time is: ' + str(maxValueCloseTime))

Minimal value of close_time is: 2020-08-03
Maximal value of close_time is: 2022-08-18

## (11). Check column contractsize

        Findings: 1. Null values appear 7 times on column contractsize. 
        
        Conclusion: I presume null value shouldn't appear on column contractsize, this needs to be investigated.

In [41]:
# Check if null values exist on column contractsize
ifNullExistsOnContractSize = trades['contractsize'].isnull().any();
print('If null value exists on column contractsize: ' + str(ifNullExistsOnContractSize))

If null value exists on column contractsize: True

In [42]:
# Check minimal and maximal value on column contractsize
minValueContractSize = trades['contractsize'].min()
maxValueContractSize = trades['contractsize'].max()
print('Minimal value of contractsize is: ' + str(minValueContractSize))
print('Maximal value of contractsize is: ' + str(maxValueContractSize))

Minimal value of contractsize is: 1.0
Maximal value of contractsize is: 100000.0

# 2. Check table users

In [43]:
params={
        'database': 'technical_test',
        'user': 'candidate',
        'password': 'NW337AkNQH76veGc',
        'host': 'technical-test-1.cncti7m4kr9f.ap-south-1.rds.amazonaws.com',
        'port': 5432
}
conn = psycopg2.connect(**params)
cursor = conn.cursor()
users = pd.read_sql_query('SELECT * FROM users', conn)
    
conn.close()
print('close connection')
users.head()

close connection

,login_hash,server_hash,country_hash,currency,enable
0,03A15F382AF3D505592CA69EFD4DC431,76791A893BDB9A68E8EE44898D581A60,AE54A5C026F31ADA088992587D92CB3A,USD,1
1,F8ADF5FF9840712CE2AF7FA9EA2A3FA7,76791A893BDB9A68E8EE44898D581A60,AE54A5C026F31ADA088992587D92CB3A,USD,1
2,B78CD788AB20A5D61CB13BD5389CABB3,76791A893BDB9A68E8EE44898D581A60,AE54A5C026F31ADA088992587D92CB3A,USD,1
3,DEFB729116227EF8582BFEC65F998489,76791A893BDB9A68E8EE44898D581A60,103357E3E40A9C0E4E9D36110F7BBC7A,USD,1
4,9EAD9A73AA6C93823C56BB8C2E798B45,76791A893BDB9A68E8EE44898D581A60,AE54A5C026F31ADA088992587D92CB3A,USD,1

## (1). For column login_hash

        Findings: 1. No null values found on column login_hash. All values have the same length of 32.
        
        Conclusion: No issues found on this column.

In [44]:
# Check minimum length and maximal length of value for column login_hash
min_length_login_hash = users['login_hash'].str.len().min()
max_length_login_hash = users['login_hash'].str.len().max()
print('Minimal length of login_hash is: ' + str(min_length_login_hash))
print('Maximal length of login_hash is: ' + str(max_length_login_hash))

Minimal length of login_hash is: 32
Maximal length of login_hash is: 32

In [45]:
# Check if null value exists on column login_hash
ifNullExistsOnLogin_hash = users['login_hash'].isnull().any();
print('If null value exists on column login_hash: ' + str(ifNullExistsOnLogin_hash))

If null value exists on column login_hash: False

## (2). For column server_hash

      Findings: 1. No null values found on column server_hash. All values have the same length of 32.
      
      Conclusion: No issues found on this column

In [46]:
# Check minimum length and maximal length of value for column server_hash
min_length_server_hash = users['server_hash'].str.len().min()
max_length_server_hash = users['server_hash'].str.len().max()
print('Minimal length of server_hash is: ' + str(min_length_server_hash))
print('Maximal length of server_hash is: ' + str(max_length_server_hash))

Minimal length of server_hash is: 32
Maximal length of server_hash is: 32

In [47]:
# Check if null value exists on column server_hash
ifNullExistsOnServer_hash = users['server_hash'].isnull().any();
print('If null value exists on column server_hash: ' + str(ifNullExistsOnServer_hash))

If null value exists on column server_hash: False

## (3). For column country_hash

       Findings: 1. No null values found on column country_hash. All values have the same length of 32.
       
       Conclusion: No issues found on this column.

In [48]:
# Check minimum length and maximal length of value for column country_hash
min_length_country_hash = users['country_hash'].str.len().min()
max_length_country_hash = users['country_hash'].str.len().max()
print('Minimal length of country_hash is: ' + str(min_length_country_hash))
print('Maximal length of country_hash is: ' + str(max_length_country_hash))

Minimal length of country_hash is: 32
Maximal length of country_hash is: 32

In [49]:
# Check if null value exists on column country_hash
ifNullExistsOnCountry_hash = users['country_hash'].isnull().any();
print('If null value exists on column country_hash: ' + str(ifNullExistsOnCountry_hash))

If null value exists on column country_hash: False

## (4). For column currency

      Findings: 1. No null value exists on column currency. No strange values found on this column.
      
      Conclusion: No issues found on this column.

In [50]:
# Check strange values for column currency, check distinct values for column currency
distinctValues = users['currency'].unique()
distinctValues

array(['USD', 'AUD', 'EUR', 'NZD'], dtype=object)

In [51]:
# Check if null value exists on column currency
ifNullExistsOnCurrency = users['currency'].isnull().any();
print('If null value exists on column currency: ' + str(ifNullExistsOnCurrency))

If null value exists on column currency: False

## (5). For column enable

       Findings: 1. No null values exist on column enable. No strange values found on this column.
       
       Conclusion: No issues found on this column.

In [52]:
# Check strange values for column enable, check distinct values for column enable
distinctValues = users['enable'].unique()
distinctValues

array([1, 0])

In [53]:
# Check if null value exists on column enable
ifNullExistsOnEnable = users['enable'].isnull().any();
print('If null value exists on column enable: ' + str(ifNullExistsOnEnable))

If null value exists on column enable: False